<footer class="page-footer">
    <div class="content-wrapper">
        <p class="footer-maintenance">
            Maintenu par: Louis-Edouard LAFONTANT (<a class="bare-link footer__link" href="mailto:louis.edouard.lafontant@umontreal.ca"><strong>LELAFONTANT</strong></a>) <br>
            Dernière mise à jour: 2023-05-13
        </p>
        <!-- <p>
            <span class="copyright">
                &copy; {{ site.time | date: '%Y' }}, Ceduni.
            </span>
        </p> -->
    </div>
</footer>