<header class="page-header">
    <section class="teaching">
        <div class="teaching-logo">
            <div class="teaching-logo-name">
                <span class="teaching-logo-code">IFT</span>
                <span class="teaching-logo-number">Projet</span>
            </div>
            <span class="teaching-logo-udem">Université de Montréal</span>
            <!-- <div class="teaching-logo-code">
                <span class="teaching-logo-code">IFT4055</span>
            </div> -->
        </div>
        <div class="teaching-info">
            <h1 class="teaching-title">Projet intégrateur ou de recherche</h1>
            <p class="teaching-desc">Cours <strong>IFT3150</strong> et <strong>IFT4055</strong></p>
        </div>
    </section>

    <div class="header-action">
        <!-- <a class="bare-link" href="">
            Soumettre un projet
        </a> -->
        
    </div>
</header>