
.page-header { 
    display: flex; justify-content: space-between;
    /* background-color: #292723; */
    background-color: #292723a1;
}

body:before {
    content: "";
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    background: url(https://www.umontreal.ca/public/www/_processed_/c/d/csm_galerie_campusMIL-001_c2bd1921fc.jpg) 100%/cover no-repeat;
    z-index: -1;
}

body:after {
    content: "";
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    background: url(https://www.umontreal.ca/public/www/_processed_/8/c/csm_galerie_campusMIL-002_e7b1de0fff.jpg) 100%/cover no-repeat;
    transform: translateY(150%);
    z-index: -1;
}

.teaching {
    display: flex; flex-direction: row; align-items: flex-start; justify-content: space-between;
    padding: 0 0 0;
    height: 96px;
}


.teaching-logo {
    display: flex; flex-direction: column; align-items: center; justify-content: center;
    padding-left: 24px; padding-right: 24px;
    height: 100%;
    background-color: #2C5EB4;
    background-color: #3573dd;
    /* border-radius: 50%; */
}
    .teaching-logo-name {
        display: flex;
        font-size: 2em; font-weight: bold;
    }
        .teaching-logo-code {
            color: #7cacff;
            font-family: 'Segoe UI Black', 'Arial Black', sans-serif;
        }
        .teaching-logo-udem {
            color: #A3C5FF;
            font-family: 'Segoe UI', 'Segoe UI', 'Droid Sans', Ubuntu, 'Lucida Grande', Arial, Helvetica, sans-serif;
            font-size: 1.2em; font-weight: 300;
        }
        .teaching-logo-number {
            margin-left: 2px;
            color: #fff;
            letter-spacing: -1px;
        }

        .teaching-logo-type {
            font-size: 1.3em; font-weight: 800;
            color: #555; 
        }

    .teaching-info {
        flex-grow: 2;
        padding-top: 12px; padding-left: 24px;
        color: #fff;
    }

    .teaching-term {
        margin: 0;
        margin-bottom: 4px;
        color: #BB2649;
        font-family: Consolas, 'Courier New', Courier, monospace;
        font-size: 1.5rem; font-weight: bold;
    }

    .teaching-desc {
        font-size: 1.7em;
        margin-top: 6px;
    }

    .teaching-schedule {
        margin: 0;
        line-height: 1.5;
    }

    .teaching-title {
        margin: 0;
        font-size: 2.6em; font-weight: 300;
    }

    .teaching-topics {
        display: flex; flex-wrap: wrap;
        margin: 0; margin-top: 6px;
        max-width: 600px;
    }

    .teaching-topic {
        color: #555;
        background-color: #e5e4e2;
        margin-right: 3px; margin-bottom: 3px;
        padding: 3px 6px;
        font-size: 1.4em; font-weight: 400;
        line-height: 1.25;
    }

    .header-action {
        display: flex; justify-content: center; align-items: center;
        padding-right: 3%;
    }
    
    .header-action a {
        display: block;
        padding: 8px 12px 9px;
        background-color: #E87429;
        font-size: 1.5em; font-weight: 500;
        border-radius: 180px;
        color: #fff;
    }


.content-wrapper { 
    position: relative; 
    padding-left: 3%; padding-right: 3%;
}

.page-body { 
    /* background-color: #f5f5f5;  */
    overflow: hidden; 
    padding-bottom: 24px;
    /* z-index: 1; */
}

.body-header {
    display: flex;
    position: relative;
    /* z-index: 5; */
}

.body-header .content-wrapper {
    display: flex;
    padding-top: 24px;
}

.body-header-desc {
    background-color: rgba(255, 255, 255, 0.95);
    padding-left: 3%;
    padding-right: 24px;
    padding-bottom: 24px;
}

.body-header-desc p {
    font-size: 1.7em;
    line-height: 1.35;
}

.body-header-desc li {
    font-size: 1.7em;
    line-height: 1.35;
}

.body-header-desc-title {
    margin-bottom: 6px;
    font-weight: 500;
    color: #2C5EB4;
}


.project-types {
    display: flex; 
}

.body-header-desc .project-type {
    position: relative;
    font-size: 1.4em;
    background-color: #fff;
    color: #222;
    border-radius: 3px;
    margin-right: 12px;
    mix-blend-mode: multiply;
    overflow: hidden;
    border: 1px solid #e5e4e2;
}

.body-header-desc .project-type:after {
    content: "";
    position: absolute;
    bottom: -12px;
    /* left: calc(50% - 12px); */
    right: -12px;
    width: 24px;
    height: 24px;
    border-radius: 180px;
    background-color: #BB2649;
    background-color: #E87429;
    z-index: 2;
}

.project-type-title {
    display: block; 
    font-weight: 300; 
    color: #BB2649;
}

.project-paths {
    display: flex;
}

.body-header-desc .project-path {
    position: relative;
    padding: 8px 12px 12px;
    flex: 1 1;
    font-size: 1.4em;
    background-color: #fff;
    color: #292723;
    border-radius: 3px;
    margin-right: 12px;
    overflow: hidden;
    border: 1px solid #e5e4e2;
}

.project-path:nth-child(1):after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 10%; right: 10%;
    height: 4px;
    background-color: #E87429;
}

.project-path:nth-child(2):after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 10%; right: 10%;
    height: 4px;
    background-color: #2C5EB4;
}

.project-path-title {
    display: block;
    margin-bottom: 3px;
    font-weight: 300;
    color: #BB2649;
}


.aside-info {
    min-width: 40%;
    padding: 24px;
    background-color: #2C5EB4;
    color: #fff;
}

    .aside-info-title {
        margin: 0;
    }

    .aside-info-subtitle {
        margin-top: 12px;
        margin-bottom: 4px; font-weight: 800;
        /* text-transform: uppercase; */
        color: #BDD5FF;
        color: #D6E5FF;
    }

    .aside-info p {
        margin: 0;
    }

    .aside-info a {
        color: currentColor;
    }

    .contact-info {
        margin-bottom: 3px;
    }

.page-footer { 
    position: relative;
    padding: 24px 0 12px;
    font-size: 8px; 
    color: #fefefe; 
    font-size: 1em;
    text-align: center; 
    background-color: #292723;
    background-color: #2C5991;
}

    .page-footer .content-wrapper {
        display: flex; flex-direction: column; align-items: center;
    }


.footer-maintenance {
    line-height: 1.5;
    font-size: 1.4em;
}

.project-section {
    display: flex; flex-direction: column;
}

.project-section {
    display: flex; flex-direction: row; flex-wrap: wrap;
    justify-content: space-between;
}

.project {
    position: relative;
    display: flex; flex-direction: column;
    width: 33%;
    padding: 20px 12px 18px;
    margin-bottom: 6px;
    background-color: #e5e4e2;
    border-radius: 2px;
}

.project-title {
    font-size: 2.2em;
    font-weight: 300;
    margin-top: 0;
    color: #D200AD;
    margin-bottom: 4px;
}

.project-supervisor {
    margin: 0;
    font-weight: 500;
    color: #222;
    font-size: 1.6em;
}

.project-date {
    position: absolute;
    top: 6px; right: 12px;
    margin-top: 0;
    font-size: 1.4em;
    font-weight: 500;
    color: #2C5EB4;
}

.project-description {
    font-size: 1.4em;
    flex-grow: 2;
    color: #333;
    max-height: 300px;
    overflow: auto;
}

.section-title {
    position: relative;
    display: flex; flex-direction: column; align-items: center; justify-content: center;
    width: 180px;
    height: 180px;
    background-color: #BB2649;
    box-shadow: 0 0 2px 1000px rgba(255, 255, 255, 0.2);
    color: #fff;
    border-radius: 50%;
    z-index: -1;
}

.contact-link {
    display: flex; align-items: stretch; justify-content: center;
    width: 90%;
    max-width: 300px;
    margin: 12px auto 0;
    font-size: 1.4rem; font-weight: 500;
    color: #e5e4e2;
    background-color: #292723;
    border-radius: 2px;
    transition: .2s;
    overflow: hidden;
}
    .contact-link .text-recto {
        display: block;
        padding: 8px 12px;
        opacity: 1;
        transform: scale(1);
        transition: .4s;
        transition-property: opacity, transform;
    }

    .contact-link .text-verso {
        position: absolute;
        display: block;
        padding: 8px 12px;
        color: #fff;
        opacity: 0;
        transform: scale(0);
        transition: .2s;
        transition-property: opacity, transform;
    }

    .contact-link:hover {
        color: #fff;
        background-color: #2C5EB4;
    }

        .contact-link:hover .text-recto {
            opacity: 0;
            /* transform: scale(0); */
        }

        .contact-link:hover .text-verso {
            opacity: 1;
            transform: scale(1.1);
        }




@media only screen and (min-width: 0em) {
    .body-header {
        flex-direction: column;
    }

    .body-header-desc p {
        font-size: 1.5em;
    }

    .body-header-desc .project-type {
        position: relative;
        padding: 4px 8px;
        margin-right: 1%;
    }

    .project-type-title {
        font-size: 1.3em; 
    }

    .project-path-title {
        font-size: 1.3em; 
    }

    .project-title {
        font-size: 1.8em;
    }

    .section-title {
        margin: 0 auto;
    }

    .project {
        width: 100%;
        margin-bottom: 12px;
    }

    .optional {
        display: none;
    }
}
        


@media only screen and (min-width: 45em) {
    .body-header-desc .project-type {
        padding: 6px 12px;
    }

    .project-type-title {
        font-size: 1.5em; 
    }

    .project-path-title {
        font-size: 1.4em; 
    }

    .project {
        width: 49.5%;
        margin-bottom: 8px;
    }
}

@media only screen and (min-width: 62em) {
    .body-header {
        flex-direction: row;
    }    

    .body-header-desc p {
        font-size: 1.6em;
    }

    .project-title {
        font-size: 2em;
    }
}


@media only screen and (min-width: 70em) {
    .project {
        width: 33%;
        margin-bottom: 6px;
    }
}

@media only screen and (min-width: 77em) {
    .body-header-desc p {
        font-size: 1.7em;
    }

    .project-title {
        font-size: 2.2em;
    }

    .optional {
        display: unset;
    }
}
